body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

span {
    color: tomato;
}

h4 {
    font-weight: 200;
}

.flex-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 30px;
    margin: auto 10px;

}

.half-width img {
    width: 90%;
}

.button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 40px;

}

#about-me {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}

#menu2 {
    border-radius: 35px;
    height: 50%;
}

#my-recipies {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.recipies {
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin: auto;
    padding: auto;
    border-radius: 40px;

}

#popularity {
    display: flex;
}

.number {
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 40px gray;
}

footer {
    background-color: aqua;
    text-align: center;
}