body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

span {
    color: tomato;
}

h4 {
    font-weight: 200;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 30px;
    margin: auto 10px;

}

.half-width img {
    width: 90%;
}

.button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 40px;

}

#about-me {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}